# PostgreSQL connection URL for Prisma (transaction pooler)
DATABASE_URL="postgresql://user:password@localhost:6543/postgres?pgbouncer=true"

# Direct/Session URL for Prisma migrations
DIRECT_URL="postgresql://user:password@localhost:5432/postgres"
